@media (min-width: 600px) {

    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    main {
        margin-top: 80px;
        padding: 0 40px 10px;
    }

    div#search {
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    #searchAndInput {
        flex-shrink: 1;
        width: 475px;
        height: 60px;
    }

    div#search select {
        height: 60px;
    }

    article#articleDetails {
        padding: 0 40px 10px;
    }

    article#articleDetails #imagem {
        width: 560px;
        height: 400px;
        box-sizing: border-box;
    }

    article#articleDetails #flagDetails {
        width: 560px;
        height: 400px;
    }

    article#articleDetails #content {
        flex-direction: row;
        gap: 100px;
    }

    article#articleDetails #allContent {
        display: flex;
        flex-wrap: wrap;
    }

    article#articleDetails #firstContent,
    article#articleDetails #secondContent {
        width: 50%;
    }

    article#articleDetails #borderCountries {
        width: 100%;
        margin: auto;
    }

    article#articleDetails p {
        line-height: 30px;
    }

    article#articleDetails #secondContent {
        padding: 64px 0px;
    }
}