* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fffffd;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100vw;


    background-color: #ffffff;

    position: fixed;
    top: 0;

    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-weight: bold;
}

#btnDarkAndLightMode {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

#btnDarkAndLightMode span {
    background: url(../icons/moonIcon.svg) no-repeat center /cover;
    height: 16px;
    width: 16px;
    margin-right: 4px;
}

div#search {
    display: flex;
}

div#search select {
    width: 200px;
}

#searchAndInput {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 12px;
    height: 36px;

    border-radius: 5px;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
}

#searchAndInput>button {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#searchAndInput>button img#testeLight {
    display: block;
    height: 16px;
    width: 16px;
}

#searchAndInput>button img#testeDark {
    display: none;
    height: 0px;
    width: 0px;
}

#searchAndInput>input[type=text] {
    flex-grow: 2;
    height: 100%;
}

#searchAndInput>input[type=text],
select#SelectAboutRegion {
    background-color: #ffffff;
    color: #000;
    border: none;
    cursor: pointer;
}

select#SelectAboutRegion {
    background-color: #ffffff;
    color: #000;
}

#searchAndInput,
select {
    padding: 10px;
    height: 36px;

    border-radius: 5px;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
}

/* Section div with countries */
section#countriesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;

    margin-top: 45px;
}

section#section#countriesSection div.countryCard>div.CountryImg {
    height: 160px;
    width: 100%;
    box-sizing: border-box;
}

section img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

div.CountryImg#SwitzerlandFlag {
    border-radius: 8px 8px 0px 0px;
    background-color: #ff0000;
}

img#SwitzerlandFlag {
    object-fit: contain;
}

section#countriesSection div.countryCard {
    height: 350px;
    width: 265px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    box-sizing: border-box;
}

section#countriesSection div.countryCard>div.countryText {
    width: 100%;
    height: 100%;
    flex-grow: 1;

    padding: 0px 25px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

section#countriesSection div.countryCard>div.countryText .btnSeeMoreDetails {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #000;
    background-color: transparent;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
}

section#countriesSection div.countryCard>div.countryText>h2 {
    font-size: 18px;
    font-weight: bolder;
    word-break: keep-all;
}

button.btnBack span{
    font-weight: bolder;
    margin-right: 4px;
}

article#articleDetails #content {
    display: flex;
    flex-wrap: wrap;
}

article#articleDetails #firstContent h4 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 40px;
}



#borderCountries p {
    word-break: break-all;
}